<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
   For more configuration infromation and examples see the Apache Log4j website: http://logging.apache.org/log4j/
 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- A time/date based rolling appender -->
    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="${java.io.tmpdir}/leads-server.log"/>
        <param name="Append" value="false"/>
        <param name="Threshold" value="TRACE"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority (Thread) [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p (%t) [%c] %m%n"/>
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="WARN"/>
        <param name="Target" value="System.out"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d %-5p [%c{1}] (%t) %m%n"/>
        </layout>
    </appender>


    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->

    <category name="org.infinispan">
        <priority value="INFO"/>
    </category>

    <category name="org.jboss">
        <priority value="WARN"/>
    </category>

    <category name="org.jgroups">
        <priority value="INFO"/>
    </category>

    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <priority value="INFO"/>
        <!--<appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
